.header {
  background-color: #347fc4;
  width: 100%;
  height: 150px;
  border: 3px solid #442b48;
  border-bottom: 3px solid #5d536b; }

.header__lista {
  display: flex;
  margin: 40px;
  padding: 5px;
  text-decoration: none;
  justify-content: space-around; }
  .header__lista li {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: #347fc4;
    font-family: 'Ubuntu', sans-serif; }
    .header__lista li a {
      margin: 5px;
      text-decoration: none;
      color: #442b48; }
      .header__lista li a:hover {
        border: solid 2px #989FCE;
        border-radius: 10px;
        padding: 2px; }
        .header__lista li a:hover --activo {
          font-weight: bold; }

@media (max-width: 768px) {
  .header {
    background-color: #347fc4 165, 105, 28;
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 1px;
    align-items: center;
    justify-content: center; }
  .img__logo {
    position: relative;
    right: 3rem; }
  .header__lista {
    margin: 1px; }
    .header__lista li {
      font-size: 15px;
      font-weight: bold; } }

@media (max-width: 768px) and (max-width: 420px) {
  .header {
    display: flex;
    flex-direction: column; }
  .img__logo {
    width: 40px;
    position: relative;
    right: 1px; }
  .img__index {
    width: 100%; }
  .header__lista li {
    font-size: 13px;
    margin: 1px; } }

.footer__style {
  width: 100%;
  background-color: #347fc4;
  border: 3px solid #442b48;
  margin: 0;
  padding: 0;
  bottom: 0; }

.footer__style h3 {
  margin: 5px;
  padding: 10px;
  font-size: 25px;
  color: #272838; }

.footer__style a {
  padding: 5px;
  color: #272838;
  margin: 0;
  text-decoration: none;
  list-style: none; }

.footer__style ol {
  list-style: none; }

.footer__style h2 {
  margin: 20px;
  font-size: 15px;
  text-align: end;
  justify-content: center; }

.section_main {
  display: flex;
  color: #442b48;
  font-weight: bold;
  background-color: #442b48; }

.section_main p {
  display: flex;
  position: relative;
  bottom: 90%;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  font-size: 20px; }

.section_main h1 {
  text-align: center;
  position: absolute;
  margin: 40px;
  left: 33%;
  font-size: 50px;
  color: #347fc4; }

.section__main {
  background-color: #272838; }

.section__main h1 {
  color: #347fc4;
  padding: 2rem; }

.section_main iframe {
  position: absolute;
  top: 55%;
  margin: 20px;
  margin-left: 80px;
  border: 3px solid #347fc4; }

.section_main iframe:hover {
  border: solid 3px #989FCE; }

@media (max-width: 768px) {
  .section_main {
    display: flex;
    text-align: justify;
    justify-content: center; }
    .section_main h1 {
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      left: 25%;
      margin: 10px;
      color: #347fc4; }
    .section_main p {
      text-align: center;
      justify-content: center;
      padding: 10px;
      margin: 10px;
      font-size: 2vh;
      word-wrap: break-word;
      overflow-wrap: break-word;
      hyphens: auto; }
    .section_main iframe {
      display: none;
      margin: 10px;
      width: 50vw;
      position: relative;
      left: 100px;
      bottom: 150px; }
    .section_main .img__logo {
      width: 10vh; } }

@media (max-width: 420px) {
  .section_main h1 {
    color: #442b48;
    margin: 10px;
    padding: 1px;
    font-size: 30px;
    right: 100px; }
  .section_main p {
    padding: 50px;
    color: #347fc4;
    font-size: 15px;
    margin: 5px;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*IMAGENES*/
.img__logo {
  box-shadow: 15px 8px 12px 5px black;
  float: left;
  margin: 10px;
  width: 100px; }

.img__index {
  width: 100%;
  height: 100%;
  float: left;
  object-fit: cover; }

.img__bio {
  width: 95%;
  object-fit: cover;
  height: 100px;
  border-radius: 10px;
  margin: 50px; }

i {
  font-size: 20px;
  color: black;
  padding: 10px; }

/*SECCION FILMOGRAFIA*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px 150px 150px 150px;
  gap: 3em;
  text-align: center;
  font-size: 20px;
  background-color: #272838;
  padding: 40px;
  color: #347fc4; }
  .grid a {
    text-decoration: none; }
    .grid a:hover {
      color: #347fc4;
      font-size: 22px; }

.img__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 60px;
  padding: 9px; }
  .img__cover:hover {
    width: 105%;
    height: 105%; }

.main__filmo {
  background-color: #272838; }
  .main__filmo h1 {
    color: #347fc4;
    background-color: #272838;
    padding: 2rem; }

.section__main {
  background-color: #272838; }

.section__main h1 {
  color: #347fc4;
  padding: 2rem; }

.section__main i {
  color: #347fc4; }

.parrafo__bio {
  font-size: 20px;
  margin: 50px;
  color: #989FCE;
  font-weight: bold;
  word-wrap: break-word;
  overflow-wrap: break-word; }

.animate__animated {
  color: #5d536b;
  font-size: 40px;
  text-align: center;
  padding: 10px; }

.blockquote {
  font-size: 55px;
  color: #347fc4;
  padding: 20px;
  margin: 0%; }

/*SECCION CONTACTO*/
.form-row {
  padding: 10px;
  color: #347fc4;
  margin: 20px; }

.form-group {
  color: #347fc4;
  padding: 0%; }

.form-check {
  margin: 20px; }

.btn {
  margin: 20px; }

/*SECCION CURIOSIDADES*/
.section__main ol {
  padding: 10px;
  margin: 0; }

li {
  color: #347fc4;
  font-size: 20px;
  list-style: inside;
  padding: 5px;
  margin: 10px; }

@media (max-width: 768px) {
  .img__bio {
    width: 90%; } }

@media (max-width: 420px) {
  .header {
    display: flex;
    flex-direction: column; }
  .img__logo {
    width: 40px;
    position: relative;
    right: 1px; }
  .img__index {
    width: 100%; }
  .header__lista li {
    font-size: 13px;
    margin: 1px; }
  .grid {
    display: flex;
    flex-direction: column;
    padding: 10px; }
  .img__bio {
    width: 80%;
    margin: 50px; } }
