@import './Sections/header';
@import './Sections/footer';
@import './Sections/main_index';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*IMAGENES*/

.img__logo {
    box-shadow: 5px 8px 12px black;
    float: left;
    margin: 10px;
    width: 100px;
}

.img__index {
    width: 100%;
    height: 100%;
    float: left;
}

.img__bio {
    width: 100%;
    object-fit: cover;
    height: 100px;
    border-radius: 10px;
}



/*SECCION FILMOGRAFIA*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
    gap: 3em;
    text-align: center;
    font-size: 20px;
    background-color: #272838;
    padding: 40px;
    color: #347fc4;

    a {
        color: green;
        text-decoration: none;

        &:hover {
            color: #347fc4;
            font-size: 22px;

        }
    }
}

.img__cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60px;
    padding: 9px;

    &:hover {
        width: 105%;
        height: 105%;
    }
}

.main__filmo {
    background-color: #272838;

    h1 {
        color: #347fc4;
        background-color: #272838;
        padding: 2rem;
    }
}



h2 {
    font-size: 40px;
    color: #989FCE;
    text-align: center;
    margin: 25px;
}

.parrafo__bio {
    font-size: 20px;
    color: #989FCE;
    font-weight: bold;
    margin: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.section__main {
    background-color: $color-principal;
}

.section__main h1 {
    color: #347fc4;
    padding: 2rem;
}

.animate__animated {
    color: #5d536b;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.blockquote {
    font-size: 55px;
    color: #347fc4;
    padding: 20px;
    margin: 0%;
}

/*SECCION CONTACTO*/

.form-row {
    color: #347fc4;
    margin: 20px;
}

.form-group {
    color: #347fc4;
    padding: 0%;
}

.form-check {
    margin: 20px;
}

.btn {
    margin: 20px;
}

/*SECCION CURIOSIDADES*/

.section__main li {
    color: #347fc4;
    font-size: 20px;
    list-style: disc;
    padding: 5px;
ol {
    margin: 0%;
}
}

@media (max-width:420px) {
    .header {
        display: flex;
        flex-direction: column;

    }

    .img__logo {
        width: 40px;
        position: relative;
        right: 1px;
    }

    .img__index {
        width: 100%;
    }

    .header__lista li {
        font-size: 13px;
        margin: 1px;
    }

    .grid {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

}