.footer__style {
    width: 100%;
    background-color: $color-footer-header;
    border: 3px solid #442b48;
    margin: 0;
    padding: 0;
    
    bottom: 0;
 }

.footer__style h3 {
    margin: 5px;
    padding: 10px;
    font-size: 25px;
    color: #272838;
}

.footer__style a {
    padding: 5px;
    color: #272838;
    margin: 10px;
    text-decoration: none;
    list-style: none;
}

.footer__style ol {
    list-style: none;
}

.footer__style h2 {
    margin: 20px;
    font-size: 15px;
    text-align: end;
    justify-content: center;
}