.footer__style {
    width: 100%;
    background-color: #347fc4;
    height: 150px;
    border: 3px solid #442b48;

}

.footer__style h3 {
    margin: 5px;
    padding: 10px;
    font-size: 25px;
    color: #272838;
}

.footer__style a {
    padding: 5px;
    color: #272838;
    margin: 10px;
    text-decoration: none;
    list-style: none;
}