.section_main {
    display: flex;
    color: #442b48;
    font-weight: bold;
    background-color: #442b48;
}

.section_main p {
    display: flex;
    position: relative;
    bottom: 90%;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.section_main h1 {
    text-align: center;
    position: absolute;
    margin: 40px;
    left: 33%;
    font-size: 50px;
    color: $color-footer-header;
}

.section__main {
    background-color: #272838;
}

.section__main h1 {
    color: $color-footer-header;
    padding: 2rem;
}

.section_main iframe {
    position: absolute;
    top: 55%;
    margin: 20px;
    margin-left: 80px;
    border: 3px solid $color-footer-header;
    border-radius: 10px;
}

.section_main iframe:hover {
    border: solid 3px #989FCE;
}

@media (max-width:768px) {
    .section_main {
        display: flex;
        text-align: justify;
        justify-content: center;

        h1 {
            font-size: 40px;
            font-weight: bold;
            position: absolute;
            left: 25%;
            margin: 10px;
            color: $color-footer-header;
        }

        p {
            font-size: 20px;
            text-align: center;
            justify-content: center;
            padding: 20px;
            margin: 20px;
            word-wrap: break-word;
            overflow-wrap: break-word;
            hyphens: auto;
        }

        iframe {
            display: none;
            margin: 10px;
            width: 50vw;
        }

        .img__logo {
            width: 10vh;
        }
    }
}

@media (max-width:420px) {
    .section_main h1 {
        color: #442b48;
        margin: 20px;
        padding: 1px;
        font-size: 30px;
        right: 100px;
        justify-content: center;
        overflow-wrap: normal;
    }

    .section_main p {
        padding: 30px;
        color: #347fc4;
        font-size: 20px;
        margin: 5px;
        text-align: center;
        justify-content: center;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}